nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    transition: 0,5s;
}

* {
    margin: 0;
    padding: 0;
}

a:hover{
    background-color: rgb(16, 149, 237);
    padding: 10px;
    border-radius: 50px;
}